[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/mru"]
	path = vimfiles/bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "vimfiles/bundle/align"]
	path = vimfiles/bundle/align
	url = https://github.com/tsaleh/vim-align.git
[submodule "vimfiles/bundle/easymotion"]
	path = vimfiles/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vimfiles/bundle/NERDTree"]
	path = vimfiles/bundle/NERDTree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vimwiki"]
	path = vimfiles/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "vimfiles/bundle/matchit"]
	path = vimfiles/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vimfiles/bundle/surround"]
	path = vimfiles/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/molokai"]
	path = vimfiles/bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
